<div {{did-insert this.didInsert}} ...attributes>
  <form id="filter_form" action="#" method="get" {{on "submit" this.submitForm}}>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-control-plaintext form-control-sm">
          <button id="filter_toggle" type="button" data-bs-toggle="collapse" data-bs-target="#filters_ui" aria-controls="filters_ui" aria-expanded="true" class="btn btn-link p-0 m-0"><FaIcon @icon="caret-down" @fixedWidth={{true}} />{{t "Filter Results"}}</button>
        </div>
      </div>
      <div class="col-sm-8 filter-times">
        {{#if this.enableInterval}}
          <BsButtonGroup @value={{this.interval}} @onChange={{action (mut this.interval)}} @type="radio" @size="sm" @id="interval_buttons" as |bg|>
            <bg.button @type="light" @value="minute">{{t "Minute"}}</bg.button>
            <bg.button @type="light" @value="hour">{{t "Hour"}}</bg.button>
            <bg.button @type="light" @value="day">{{t "Day"}}</bg.button>
            <bg.button @type="light" @value="week">{{t "Week"}}</bg.button>
            <bg.button @type="light" @value="month">{{t "Month"}}</bg.button>
          </BsButtonGroup>
        {{/if}}
        <div id="reportrange" class="pull-right">
          <button class="btn btn-light btn-sm dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
            <FaIcon @icon="calendar" />
            <span class="text"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 advanced-filter">
        <div id="filters_ui" class="collapse show">
          <div id="filter_type_builder" class="filter-type">
            <div id="query_builder"></div>
            <div class="row">
              <div class="col-sm-6">
                <button class="btn btn-primary btn-sm" type="submit">{{t "Filter"}}</button>
              </div>
              <div class="col-sm-6 text-end">
                <div class="form-control-plaintext form-control-sm">
                  <a href="#" {{action "toggleFilterType" "advanced"}} class="filter-type-toggle">{{t "Switch to advanced filters"}}</a>
                </div>
              </div>
            </div>
          </div>
          <div id="filter_type_advanced" class="filter-type" style="display: none;">
            <div id="search_field">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder={{t "Advanced filters..."}} value={{this.query.params.search}} aria-label="Advanced filters">
                  <button class="btn btn-primary" type="submit">{{t "Filter"}}</button>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-control-plaintext form-control-sm text-muted">
                    {{! template-lint-disable no-bare-strings no-triple-curlies }}{{{t "Advanced filters use <a tabindex=\"0\" role=\"button\" class=\"lucene-help-link\">Lucene's Query Syntax</button>."}}}
                  </div>
                </div>
                <div class="col-sm-6 text-end">
                  <div class="form-control-plaintext form-control-sm">
                    <a href="#" {{action "toggleFilterType" "builder"}} class="filter-type-toggle">{{t "Switch to simple filters"}}</a>
                  </div>
                </div>
              </div>
              <div id="query_syntax_help_content" style="display: none;">
                <p>{{! template-lint-disable no-bare-strings no-triple-curlies }}{{{t "Use <a href=\"https://lucene.apache.org/core/2_9_4/queryparsersyntax.html#Terms\" target=\"_blank\">Lucene's query syntax</a> to perform complex queries."}}}</p>
                <p>{{t "Example"}}:</p>
                <pre class="code-block">request_method:"POST" AND response_status:[400 TO *]</pre>
                <p>{{t "Available Fields"}}:</p>
                <table class="table table-sm mb-0">
                  <thead>
                    <tr>
                      <th>{{t "Field"}}</th>
                      <th>{{t "Example"}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><code>request_at</code></td>
                      <td><em>2013-11-06T20:02:53.752Z</em></td>
                    </tr>
                    <tr>
                      <td><code>request_method</code></td>
                      <td><em>GET</em></td>
                    </tr>
                    <tr>
                      <td><code>request_url</code></td>
                      <td><em>http://api.data.gov/nrel/alt-fuel-stations/v1.json?limit=2</em></td>
                    </tr>
                    <tr>
                      <td><code>request_scheme</code></td>
                      <td><em>http</em></td>
                    </tr>
                    <tr>
                      <td><code>request_host</code></td>
                      <td><em>api.data.gov</em></td>
                    </tr>
                    <tr>
                      <td><code>request_path</code></td>
                      <td><em>/nrel/alt-fuel-stations/v1.json</em></td>
                    </tr>
                    <tr>
                      <td><code>request_path_hierarchy</code></td>
                      <td><em>/nrel/alt-fuel-stations/v1</em></td>
                    </tr>
                    <tr>
                      <td><code>request_user_agent</code></td>
                      <td><em>curl/7.33.0</em></td>
                    </tr>
                    <tr>
                      <td><code>request_user_agent_type</code></td>
                      <td><em>Library</em></td>
                    </tr>
                    <tr>
                      <td><code>request_user_agent_family</code></td>
                      <td><em>cURL</em></td>
                    </tr>
                    <tr>
                      <td><code>request_accept_encoding</code></td>
                      <td><em>deflate, gzip</em></td>
                    </tr>
                    <tr>
                      <td><code>request_ip</code></td>
                      <td><em>93.184.216.119</em></td>
                    </tr>
                    <tr>
                      <td><code>request_ip_country</code></td>
                      <td><em>US</em></td>
                    </tr>
                    <tr>
                      <td><code>request_ip_region</code></td>
                      <td><em>CO</em></td>
                    </tr>
                    <tr>
                      <td><code>request_ip_city</code></td>
                      <td><em>Golden</em></td>
                    </tr>
                    <tr>
                      <td><code>response_status</code></td>
                      <td><em>200</em></td>
                    </tr>
                    <tr>
                      <td><code>response_content_type</code></td>
                      <td><em>application/json; charset=utf-8</em></td>
                    </tr>
                    <tr>
                      <td><code>response_content_encoding</code></td>
                      <td><em>gzip</em></td>
                    </tr>
                    <tr>
                      <td><code>response_transfer_encoding</code></td>
                      <td><em>chunked</em></td>
                    </tr>
                    <tr>
                      <td><code>response_server</code></td>
                      <td><em>nginx/1.4.2</em></td>
                    </tr>
                    <tr>
                      <td><code>api_key</code></td>
                      <td><em>DEMO_KEY</em></td>
                    </tr>
                    <tr>
                      <td><code>user_email</code></td>
                      <td><em>demo.api_keys@data.gov</em></td>
                    </tr>
                    <tr>
                      <td><code>user_id</code></td>
                      <td><em>ad2d94b6-e0f8-4e26-b1a6-1bc6b12f3d76</em></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
